<app-header></app-header>

<div class="pricing-header p-0 pb-md-0 mx-auto">
  <h1 class="display-6 fw-normal">Estoque</h1>
  <hr class="my-4">
</div>

<!-- <tr>
  <th>Nome</th>
  <th>CNPJ</th>
  <th class="td-icon">Data Alteração</th>
  <th class="td-icon">Data Cadastro</th>
  <th class="td-icon">Ativo</th>
  <th class="td-icon">Alterar</th>
</tr>
<tr *ngFor="let f of fornecedores">
    <td>{{f.nome}}</td>
    <td>{{f.cnpj}}</td>
    <td>{{f.dtCadastro | date: 'dd/MM/yyyy'}}</td>
    <td class="td-text-center">{{f.dtUltAlt | date: 'dd/MM/yyyy'}}</td>
    <td class="td-text-center" *ngIf="f.ativo"><a><img src="assets/icons/components/check-square.svg"></a></td>
    <td class="td-text-center" *ngIf="!f.ativo"><a><img src="assets/icons/components/square.svg"></a></td>
    <td class="td-icon"><img src="assets/icons/components/search.svg"></td>
</tr>
 -->


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">CNPJ</th>
      <th scope="col">DT. CADASTRO</th>
      <th scope="col">DT. ALTERAÇÃO</th>
      <th scope="col">ATIVO</th>
      <th scope="col">ALTERAR</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of fornecedores">
      <td>{{f.nome}}</td>
      <td>{{f.cnpj}}</td>
      <td>{{f.dtCadastro | date: 'dd/MM/yyyy'}}</td>
      <td class="td-text-center">{{f.dtUltAlt | date: 'dd/MM/yyyy'}}</td>
      <td class="td-text-center" *ngIf="f.ativo"><a><img src="assets/icons/components/check-square.svg"></a></td>
      <td class="td-text-center" *ngIf="!f.ativo"><a><img src="assets/icons/components/square.svg"></a></td>
      <td class="td-icon"><img src="assets/icons/components/search.svg"></td>
    </tr>
  </tbody>
</table>
